.btn {
  font-size: 2.5rem;
}

.btn_sm {
  font-size: 1.75rem;
}

.back_arrow {
  font-size: 1.5rem;
  cursor: pointer;
}

.engagement {
  cursor: pointer;
}

.edit {
  color: #FF7F00;
  font-size: 1.25rem;
  cursor: pointer;
}