.form_field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px
}

.label {
  text-align: left;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 10px
}

.auth {
  padding: 12px;
  border: 1px solid #E0E0E0;
  border-radius: 5px;
  font-size: var(--fs-md);
  resize: none;
  transition: 150ms;
  font-family: var(--font-sans);
  -webkit-appearance: none;
}

.auth:focus {
  box-shadow: var(--form-focus);
  border: 1px solid var(--faded-orange);
  outline: none;
}

.chat{
  font-size: var(--fs-lg);
  padding: 12px;
  border: none;
  resize: none;
  font-family: var(--font-sans);
}

.chat:focus {
  outline: none;
  box-shadow: none;
}