.container {
  background-color: rgba(255, 255, 255, 0.8);
  height: 100vh;
  width: 100%;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 5;
  transform: translateX(-100%);
  transition: 200ms
}

.show {
  transform: translate(0);
}

.nav {
  height: 100%;
  width: 80%;
  background-color: #505253;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.header {
  height: 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.header_text {
  color: #fff;
  font-weight: 700;
  text-align: center;
}

.profile {
  background-color: #353636;
  padding: 15px 20px;
}

.user_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

.user {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
}

.profile_pic {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
  margin-right: 10px
}

.identifiers {
  display: flex;
  flex-direction: column;
}

.display_name {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 5px;
}

.username {
  font-size: 15px;
}

.nav_links {
  padding: 40px 20px;
}

/* .popout-nav-link-group {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.popout-nav-link-icon {
  font-size: 1.1rem;
  padding-right: 20px;
}

.popout-nav-link-text {
  font-size: 15px;
} */