.btn {
  font-size: 2.5rem;
}

.btn_sm {
  font-size: 1.75rem;
}

.back_arrow {
  font-size: 1.5rem;
  cursor: pointer;
}

.engagement {
  cursor: pointer;
}

.edit {
  color: #FF7F00;
  font-size: 1.25rem;
  cursor: pointer;
}

.navbar {
  color: #FF7F00;
  font-size: 1.25rem;
}

.close {
  color: #FF7F00;
  font-size: 1.75rem;
  margin-left: 20px;
}

.delete {
  color: #FF7F00;
  font-size: 1.5rem;
  padding: 0 20px;
  justify-self: end;
}

.link_sm {
  font-size: 1.1rem;
  padding-right: 20px;
}

.link_lg {
  font-size: 1.25rem;
}

@media screen and (min-width: 640px) {
  .link_lg {
    padding-right: 20px;
  }
}