.chat-form-group {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.chat-form {
  display: flex;
  flex-direction: column;
}

.chat-form textarea {
  font-family:  'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-size: 18px;
  border: none;
}

.chat-form textarea:focus {
  outline: none;
  box-shadow: none;
}

.chat-form-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.character-counter {
  color: #9f9f9f;
  padding: 0 10px;
}

.chat-form-submit {
  display: flex;
  justify-content: center;
}