.profile-container {
  width: 100%
}

.profile {
  background-color: #fff;
  padding: 20px;
}

.profile-edit {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
}

.profile-profile-pic {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}

.profile-user-identifiers {
  margin-bottom: 20px;
}

.profile-display-name {
  font-size: 1.1rem;
  font-weight: 900;
  margin-bottom: 5px;
}

.profile-username {
  color: #9f9f9f;
  font-weight: 500;
}

.profile-bio {
  font-size: 0.90rem;
  line-height: 18px;
  margin-bottom: 20px;
}

.chat-categories {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  margin-top: 25px;
}

.category {
  color: #000;
  font-weight: 700;
  text-decoration: none;
}

@media screen and (min-width: 800px) {
  .profile {
    border-bottom: 1px solid #f0f0f0
  }
}