.group {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.dark {
  color: #fff
}

.light {
  color: #000
}

.sm {
  font-size: 15px;
  margin-bottom: 30px;
}

.lg {
  font-weight: 700;
  margin-bottom: 50px;
}

.collapse {
  display: none
}


@media screen and (min-width: 640px) {
  .collapse {
    display: block;
  }
}