.btn {
  border: none;
  background-color: #FF7F00;
  color: #fff;
  font-weight: 500;
}

.btn-chat {
  border-radius: 15px;
  padding: 5px 20px;
}

.btn-round {
  height: 70px;
  width: 70px;
  border-radius: 50%
}

.btn-icon {
  font-size: 3rem
}