.chat-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat-container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-content: start;
  width: 90%;
  margin-top: 8px;
  margin-bottom: 8px;
}

.user-profile-pic {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}

.chat-card {
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

.user-identifiers {
  display: flex;
  margin-bottom: 5px;
  text-decoration: none;
}

.chat-display-name {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 5px;
}

.chat-username {
  color: #9F9F9F;
  font-weight: 500;
  font-size: 14px;
  padding: 0 10px;
}

.chat-text {
  text-align: left;
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 18px
}

.engagement-container {
  display: flex;
  justify-content: space-around;
}

.engagement-group {
  color: #9F9F9F;
  display: flex;
  align-items: center;
}

.engagement-icon {
  cursor: pointer;
}

.edit-icon {
  color: #FF7F00;
  font-size: 1.25rem;
  cursor: pointer;
}

.engagement-metric {
  font-size: 13px;
  padding: 0 5px;
}