/* NAV LINKS */

.link-dark {
  color: #fff
}

.link-light {
  color: #000
}

.link-sm {
  font-size: 15px;
  margin-bottom: 30px;
}

.link-lg {
  font-weight: 700;
  margin-bottom: 50px;
}

.link-icon-sm {
  font-size: 1.1rem;
  padding-right: 20px;
}

.link-icon-lg {
  font-size: 1.25rem;
}

.nav-link-group {
  text-decoration: none;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 640px) {
  .link-icon-lg {
    padding-right: 20px;
  }
}

/* TOP NAV */

.navbar-container {
  padding-bottom: 52px;
}

.navbar {
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px 20px;
  position: fixed;
  left: 0;
  right: 0;
}

.navbar-profile-pic {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}

.navbar-location-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-location-text {
  font-weight: 700
}

.navbar-logo-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar-logo {
  color: #FF7F00;
  font-size: 1.25rem;
}

@media screen and (min-width: 500px) {
  .navbar {
    position: absolute
  }

  .navbar-pic {
    height: 30px;
  }

  .navbar-profile-pic {
    display: none;
  }
}

/* SIDE NAV */

.sidenav-container {
  padding-right: 60px;
  display: none;
}

.sidenav {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 50px 10px;
  position: fixed;
  border-right: 1px solid #f7f7f7;
  z-index: 1;
}

.sidenav-links {
  color: #000;
  display: flex;
  flex-direction: column;
}

.sidenav-link-group {
  color: #000;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.sidenav-link-icon {
  font-size: 1.25rem;
}

.sidenav-link-text {
  font-weight: 700;
  display: none;
}

@media screen and (min-width: 500px) {
  .sidenav-container {
    display: block;
  }
}

@media screen and (min-width: 640px) {
  .sidenav-container {
    padding-right: 175px;
  }

  .sidenav {
    padding: 50px 30px;
  }

  .sidenav-link-icon {
    padding-right: 20px;
  }

  .sidenav-link-text {
    display: block;
  }
}

/* POPOUT NAV */

.popout-nav-container {
  background-color: rgba(255, 255, 255, 0.8);
  height: 100vh;
  width: 100%;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 5;
  transform: translateX(-100%);
  transition: 200ms
}

.show {
  transform: translate(0);
}

.popout-nav {
  height: 100%;
  width: 80%;
  background-color: #505253;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.popout-nav-header {
  height: 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.popout-nav-close {
  color: #FF7F00;
  font-size: 1.75rem;
  margin-left: 20px;
}

.popout-nav-header-text {
  color: #fff;
  font-weight: 700;
  text-align: center;
}

.popout-nav-user-profile {
  background-color: #353636;
  padding: 15px 20px;
}

.popout-nav-user-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

.popout-nav-user {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
}

.popout-nav-profile-pic {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
  margin-right: 10px
}

.popout-nav-display-name {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 5px;
}

.popout-nav-username {
  font-size: 15px;
}

.popout-nav-links {
  padding: 40px 20px;
}

.popout-nav-link-group {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.popout-nav-link-icon {
  font-size: 1.1rem;
  padding-right: 20px;
}

.popout-nav-link-text {
  font-size: 15px;
}