.popout-nav-container {
  background-color: rgba(255, 255, 255, 0.8);
  height: 100vh;
  width: 100%;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 5;
}

.popout-nav {
  height: 100%;
  width: 80%;
  color: #fff;
  background-color: #535353;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.popout-nav-header {
  height: 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.popout-nav-close {
  color: #FF7F00;
  font-size: 1.75rem;
  margin-left: 20px;
}

.popout-nav-header-text {
  font-weight: 700;
  text-align: center;
}

.popout-nav-user-profile {
  background-color: #333333;
  padding: 15px 20px;
}

.popout-nav-user-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

.popout-nav-user {
  display: flex;
  align-items: center;
}

.popout-nav-profile-pic {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
  margin-right: 10px
}

.popout-nav-display-name {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 5px;
}

.popout-nav-username {
  font-size: 15px;
}

.popout-nav-user-metrics {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.popout-nav-metric {
  font-size: 0.85rem;
  color:rgba(255, 255, 255, 0.5);
  margin-bottom: 5px;
}

.popout-nav-metric-count {
  font-weight: 500;
}