.user-metrics {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.metric {
  font-size: 0.85rem;
  opacity: 0.5;
  margin-bottom: 5px;
}

.metric-count {
  font-weight: 500;
}

.dark {
  color: #fff;
}

.light {
  color: #000
}